.App {
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
 
}

body{
  font-family: "Roboto",sans-serif;
  /*background-color: #f8f8f8;*/
 background-color: rgb(122, 121, 121);
}
.container{
  max-width:85%;
  margin: auto;
}
.flexSB{
  display: flex;
  justify-content: space-between;
}
.icon{
  width:40px;height:40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  color:#524747;
  transition: 0.5s;
}
.icon:hover{
  cursor: pointer;
  background-color: #0a0a0a;
  color:#524747;
}

 